@{
    Layout = "_Root.Head";
}
@using Nop.Core

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
@inject IWorkContext workContext
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
}

@*<div class="edi-message">
        <div class="master-wrapper-content">
            <marquee scrollamount="5" direction="@(supportRtl?"right":"left")">
                @T("eid.vacation")
            </marquee>
        </div>
    </div>*@
<div class="master-wrapper-page">
    <div class="header-sticky">
        @await Component.InvokeAsync("AdminHeaderLinks")
        @await Html.PartialAsync("_Header")
    </div>
    <script asp-location="Footer">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>

    <div class="master-wrapper-content">
        <div class="breadcrumb-bg">
            <div class="container">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

                @if (IsSectionDefined("Breadcrumb"))
                {
                    @RenderSection("Breadcrumb")
                }
            </div>
        </div>
        <div class="master-column-wrapper">
            @*<div class="eid container">
                    <div class="background-items">
                        <div class="swing1">
                            <img src="~/images/Eid/eid.png">
                        </div>
                        <div class="swing1">
                            <img src="~/images/EidAdha/sheep-front.png">
                        </div>
                        <div class="pull1">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -12px;">
                        </div>
                        <div class="swing2">
                            <img src="~/images/Eid/moon.png" style="height: 170px; position: relative; top: -12px;">
                        </div>
                        <div class="swing1">
                            <img src="~/images/Eid/eid.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="swing1">
                            <img src="~/images/EidAdha/sheep-front.png">
                        </div>
                        <div class="swing3">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -13px;">
                        </div>
                        <div class="pull2">
                            <img src="~/images/Eid/star.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="swing2">
                            <img src="~/images/Eid/eid.png" style="height: 150px; position: relative; top: -13px;">
                        </div>
                        <div class="swing1">
                            <img src="~/images/Eid/moon.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="swing1">
                            <img src="~/images/EidAdha/sheep-front.png">
                        </div>
                        <div class="pull2">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -10px;">
                        </div>
                        <div class="swing2">
                            <img src="~/images/Eid/eid.png">
                        </div>
                        <div class="swing1">
                            <img src="~/images/EidAdha/sheep-front.png">
                        </div>
                        <div class="pull3">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -10px;">
                        </div>
                        <div class="swing3">
                            <img src="~/images/Eid/eid.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="pull2">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -15px;">
                        </div>
                        <div class="swing2">
                            <img src="~/images/Eid/moon.png">
                        </div>
                        <div class="swing3">
                            <img src="~/images/Eid/eid.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="pull1">
                            <img src="~/images/Eid/star.png">
                        </div>
                        <div class="pull1">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -12px;">
                        </div>
                        <div class="swing2">
                            <img src="~/images/Eid/eid.png" style="height: 220px; position: relative; top: -13px;">
                        </div>
                        <div class="swing1">
                            <img src="~/images/Eid/moon.png" style="height: 250px; position: relative; top: -13px;">
                        </div>
                        <div class="pull2">
                            <img src="~/images/Eid/star.png" style="height: 150px; position: relative; top: -10px;">
                        </div>
                        <div class="swing3">
                            <img src="~/images/Eid/eid.png">
                        </div>
                    </div>
                </div>*@
            @*<div class="ramadan container">
                <div class="background-items">
                    <div class="swing1">
                        <img src="~/images/BlackFriday/tag.png">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -12px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 170px; position: relative; top: -12px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png" style="height: 150px; position: relative; top: -13px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/watch.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png">
                    </div>
                    <div class="pull3">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -15px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/phone.png">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/phone.png">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -12px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/phone.png" style="height: 250px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -12px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 170px; position: relative; top: -12px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png" style="height: 150px; position: relative; top: -13px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/watch.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png">
                    </div>
                    <div class="pull3">
                        <img src="~/images/BlackFriday/phone.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -15px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/phone.png">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/phone.png">
                    </div>
                    <div class="pull1">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -12px;">
                    </div>
                    <div class="swing2">
                        <img src="~/images/BlackFriday/tag.png" style="height: 220px; position: relative; top: -13px;">
                    </div>
                    <div class="swing1">
                        <img src="~/images/BlackFriday/phone.png" style="height: 250px; position: relative; top: -13px;">
                    </div>
                    <div class="pull2">
                        <img src="~/images/BlackFriday/watch.png" style="height: 150px; position: relative; top: -10px;">
                    </div>
                    <div class="swing3">
                        <img src="~/images/BlackFriday/tag.png">
                    </div>
                </div>
            </div>*@
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
