@* english *@
<div>
    <h3>
        To track your order status...
    </h3>
    <p>Upon checkout, you will receive an email summary including the list of products ordered and the delivery and billing addresses.</p>
    <p>This email also includes a link allowing you to monitor the progress of your order on our site. If have your order number, fill out the form below to find out the status!</p>
    <p>Note that you will also receive a notification email when your order is processed in our warehouses. Then, depending on the delivery method you choose, you may have the opportunity to follow the course of delivery.</p>
    <p>For security measure, please enter the credentials that you have received in your order confirmation e-mail for this order:</p>
</div>

@* arabic*@
<div>
    <h3>
        To track your order status...
    </h3>
    <p>Upon checkout, you will receive an email summary including the list of products ordered and the delivery and billing addresses.</p>
    <p>This email also includes a link allowing you to monitor the progress of your order on our site. If have your order number, fill out the form below to find out the status!</p>
    <p>Note that you will also receive a notification email when your order is processed in our warehouses. Then, depending on the delivery method you choose, you may have the opportunity to follow the course of delivery.</p>
    <p>For security measure, please enter the credentials that you have received in your order confirmation e-mail for this order:</p>
</div>