@* english *@
<div class="img-confused">
    <img src="/themes/eshop/content/images/en/404_en.png" alt="confused?">
</div>
<div class="err-code">
    <h1>404</h1>
    <p class="first-para">The page you have requested is either broken or does not exist.</p>
    <p class="second-para">
        For more info, please contact the
        <a href="#"> system admin</a>
        , or go back to
        <a href="/">eShop home </a>
    </p>
</div>



@* arabic*@
<div class="img-confused"><img src="/themes/eshop/content/images/ar/404_ar.png" alt="confused?" /></div>
<div class="err-code">
    <h1>404</h1>
    <p class="first-para">الصفحة التي طلبتها إما مقطوعة أو غير موجودة.</p>
    <p class="second-para">لمزيد من المعلومات ، يرجى الاتصال <a href="#"> مسؤول النظام</a> ، أو العودة إلى<a href="/">eShop المنزل </a></p>
</div>