<div class="es-q-links">
    <ul>
        <li>
            <a href="https://www.orange.jo/en/" target="_self" class="org-primary">
                Personal
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/small-businesses/en/" target="_self">
                Small Businesses
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/Business/EN" target="_self">
                Enterprise
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/innovation/en" target="_self">
                Innovation
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/en/myaccount/pages/quick-pay.aspx" target="_self" class="qpay org-primary">
                Quick Pay / Refill
            </a>
        </li>
        <li><a id="follow-us" href="#">Follow US</a></li>
    </ul>
</div>