<ul class="es-root-menu">
    <li data-target="nop-menu">
        <a href="/">eShop</a>
    </li>
    <li data-target="offers-services">
        <a href="https://www.orange.jo/en/offers/">Offers and services</a>
    </li>
    <li data-target="my-account">
        <a href="https://www.orange.jo/en/myaccount/pages/default.aspx">My account</a>
    </li>
    <li data-target="help">
        <a href="https://www.orange.jo/en/help/pages/default.aspx">Help</a>
    </li>
</ul>