<li class="mobile-root-menu">
    <a href="https://www.orange.jo/ar/offers/">العروض و الخدمات <i class="fas fa-angle-right"></i></a>

    <div class="sublist-toggle"></div>
    <ul class="sublist first-level">
        <li class="back-menu">

            <i class="fas fa-angle-left"></i> العروض و الخدمات
        </li>
        <li>
            <a href="javascript:void(0);">
                الخلوي <i class="fas fa-sort-down"></i>
            </a>
            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobilepostpaidoffers/">
                        خطوط الخلوي المدفوعة لاحقاً<i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobileprepaidoffers/">
                        الخطوط المدفوعة مسبقاً<i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/yo-lines"))">
                        YO خطوط <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/ar/mobile/governorate-lines"))">
                        عروض الخلوي للمحافظات<i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/en/services/MobileServices/Pages/default.aspx">
                        خدمات الخلوي<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/feed-w-estafeed-for-prepaid-lines.aspx">
                        فيد واستفيد
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                الإنترنت <i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/upgrade-speed.html">
                        رفع السرعة <i class="fas fa-angle-right"></i>
                    </a>
                </li>*@

                <li>
                    <a href="https://www.orange.jo/ar/offers/ADSLOffers/">
                        عروض الـ ADSL <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/fiber-offers/pages/default.aspx">
                        عروض الفايبر <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/baitalailehoffers/">
                        عروض بيت العيلة <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/4g-flybox-offer"))">
                        عروض 4G فلاي بوكس للبيت <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/services/pages/internet-services.aspx">
                        خدمات الإنترنت <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/adsl-offers/east-amman-internet.html">
                        إنترنت عمان الشرقية <i class="fas fa-angle-right"></i>
                    </a>
                </li>*@

                @*<li>
                    <a href="https://www.orange.jo/ar/pages/orange-fiber-family.aspx">
                        عيلة Orange فايبر <i class="fas fa-angle-right"></i>
                    </a>
                </li>*@

                @*<li>
                    <a href="https://www.orange.jo/ar/offers/pages/iew-pay-monthly-army.aspx">
                        عروض نت وين مكان الإشتراكات الشهرية حماة الوطن <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/pages/4g-orange-net-prepaid-humat-al-watan.aspx">
                        عرض 4G Orange نت حماة الوطن المدفوع مسبقاً <i class="fas fa-angle-right"></i>
                    </a>
                </li>*@
            </ul>

        </li>

        <li>
            <a href="javascript:void(0);">
                المكالمات الدولية و التجوال<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a href="https://internationalandroaming.orange.jo/">
                        خدمات المكالمات الدولية و التجوال<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        @*<li>
            <a href="javascript:void(0);">
                عروض العيلة<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh-adsl.html">
                        عروض بيت العيلة ADSL<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh/bait-al-aileh-fiber-offers.html">
                        عروض بيت العيلة فايبر<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>*@

        <li>
            <div class="es-submenu-footer-mobile">
                <ul>
                    <li>
                        <a href="https://www.orange.jo/ar/pages/orange-premium.aspx">
                            @*<img src="/Themes/eshop/content/images/premiumicon.png">*@
                            <span>Orange Premium</span><i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.orange.jo/ar/pages/elite-plus.aspx">
                            @*<img src="/Themes/eshop/content/images/eliteicon.png">*@
                            <span> Elite + </span><i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <ul class="imgs">
                    @*<li>
                        <a href="https://www.orange.jo/ar/beinconnect/pages/getvoucher.aspx">
                            <img src="/Themes/eshop/content/images/ar/bein_ar.png"><span></span>
                        </a>
                    </li>*@

                    @*<li>
                        <a href="https://www.orange.jo/ar/starzplay/pages/getvoucher.aspx">
                            <img src="/Themes/eshop/content/images/ar/starz_ar.png"><span></span>
                        </a>
                    </li>*@
                </ul>

            </div>
        </li>
    </ul>

</li>

<li class="mobile-root-menu">
    <a href="https://www.orange.jo/ar/myaccount/pages/default.aspx">
        حسابي
        <i class="fas fa-angle-right"></i>
    </a>
    <div class="sublist-toggle"></div>
    <ul class="sublist first-level">
        <li class="back-menu">
            <i class="fas fa-angle-left"></i> حسابي
        </li>
        <li>

            <a href="javascript:void(0);">
                التسجيل والدخول<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/default.aspx">
                        الدخول<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/registration.aspx">
                        التسجيل<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.eservices.orange.jo/OTRC/IEW/faces/pages/login.xhtml">
                        تحديث معلومات النت وين مكان<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>

            <a href="javascript:void(0);">
                دفع الفواتير و الشحن<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx">
                        دفع الفواتير و الشحن<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/e-sh7anli.aspx">
                        e - اشحنلي<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/payment-methods.aspx">
                        طرق تسديد الفواتير<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>

            <a href="javascript:void(0);">
                تتبع حالة الطلب<i class="fas fa-sort-down"></i>

            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a asp-route="AramexTrackingInfo">
                        متابعة طلب الفايبر<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/ordertracking.aspx">
                        متابعة طلب المتجر الإلكتروني<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>

            <a href="javascript:void(0);">
                برنامج المكافآت<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a href="https://www.rewards.orange.jo/ar/deals.aspx">
                        عروض Orange<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.rewards.orange.jo/ar/Account/Login?returnUrl=%2Far%2FPoints%2FIndex">
                        نقاط تكرم<i class="fas fa-angle-right"></i>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</li>

<li class="mobile-root-menu">
    <a href="javascript:void(0);">
        المساعدة
        <i class="fas fa-angle-right"></i>
    </a>
    <div class="sublist-toggle"></div>
    <ul class="sublist first-level">
        <li class="back-menu">

            <i class="fas fa-angle-left"></i> المساعدة
        </li>
        <li>

            <a href="javascript:void(0);">
                مواضيع المساعدة<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist">
                <li>
                    <a href="https://www.orange.jo/ar/chat/pages/infochat.aspx">
                        الدردشة<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/contact-us.aspx">
                        الإتصال بنا<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://store-ar.orange.jo/">
                        نقاط البيع<i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/djingo-chatbot.aspx#">
                        Djingo-chatbot<i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>

            <a href="javascript:void(0);">
                   الأسئلة الشائعة<i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist ">
              <li>
                      <a href="https://www.orange.jo/ar/help/pages/internet-faq.aspx">
                          الإنترنت<i class="fas fa-angle-right"></i>
                      </a>
                  </li>
              
                  <li>
                      <a href="https://www.orange.jo/ar/help/pages/mobile-faq.aspx">
                          الخلوي<i class="fas fa-angle-right"></i>
                      </a>
                  </li>
              
                  <li>
                      <a href="https://www.orange.jo/ar/help/pages/fixed-faq.aspx">
                          الثابت<i class="fas fa-angle-right"></i>
                      </a>
                  </li>
            </ul>
        </li>

        <li>
            <a href="https://www.orange.jo/ar/pages/coverage.aspx">
               تغطيتنا<i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/ar/eshop-promotions"))">
              العروض<i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx">
               الشحن ودفع الفواتير<i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>