@inject IThemeContext themeContext
@{ var themeName = themeContext.WorkingThemeName; }

<div class="es-hr full-width clear-fix"></div>
<div class="footer-upper">

    <div class="footer-block information">
        <div class="title">
            <strong>Orange الأردن</strong>
            <i class="fas fa-sort-down"></i>
        </div>
        <ul class="list">

            <li>
                <a href="https://www.orange.jo/ar/Pages/bit-stream.aspx" target="_self">
                    Bit stream
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/Pages/about-orange.aspx" target="_self">
                    عن Orange
                </a>
            </li>

            <li>
                <a href="https://www.orc.orange.jo/OTRC/PWA/pages/login.jsf" target="_self">
                    نقاط البيع
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/Pages/annual-reports.aspx" target="_self">
                    التقرير السنوي
                </a>
            </li>

            <li>
                <a href="https://pretups.orange.jo/pretups/" target="_self">
                    زاوية الموزعين
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/Pages/share-holders.aspx" target="_self">
                    المساهمون
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/sites/Pressar/" target="_self">
                    أخبار الشركة
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/Pages/compliance-and-anti-corruption.aspx" target="_self">
                    مكافحة الفساد والإحتيال
                </a>
            </li>

            <li>
                <a href="http://jobs.orange.com/jobs/jobsearch.do?do=country&amp;CTRY=JO&amp;lang=EN" target="_blank">
                    الوظائف
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/Pages/csr.aspx" target="_self">
                    المسؤولية الاجتماعية
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-block customer-service">
        <div class="title">
            <strong>التسلية</strong>
            <i class="fas fa-sort-down"></i>

        </div>
        <ul class="list">
            <li>
                <a href="https://www.orange.jo/ar/services/Pages/anghami-music.aspx" target="_self">
                    أنغامي
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/services/Pages/shahid-plus.aspx" target="_self">
                    شاهد بلس
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/services/Pages/my-status.aspx" target="_self">
                    ماي ستاتس My Status
                </a>
            </li>

            <li>
                <a href="https://www.orange.jo/ar/services/Pages/magic-voice.aspx" target="_self">
                    الصوت السحري Magic Voice
                </a>
            </li>

            @*<li>
                <a href="https://www.orange.jo/ar/services/pages/starzplay.aspx" target="_self">
                    ستارزبلاي StarzPlay
                </a>
            </li>*@
        </ul>
    </div>
    <div class="footer-block my-account">
        <div class="title">
            <strong>
                <a href="https://www.orange.jo/sites/wholesalear/" target="_self">
                  البيع بالجملة
                    <i class="fas fa-sort-down"></i>
                </a>
            </strong>
        </div>
        <ul class="list"></ul>
    </div>
</div>

<div class="footer-upper es-footer">
    <a href="https://www.orange.jo/ar/pages/contact-us.aspx" target="_self">
        <img src="~/themes/@themeName/content/images/contact.png">
        <span> اتصل بنا</span>
    </a>
    <a href="https://store.orange.jo/" target="_self">
        <img src="~/themes/@themeName/content/images/locations.png">
        <span> نقاط البيع</span>
    </a>
    <a href="https://www.orange.jo/ar/pages/coverage.aspx" target="_self">
        <img src="~/themes/@themeName/content/images/map.png">
        <span>  تغطيتنا </span>
    </a>
    <a href="https://www.orange.jo/sites/Businessar/" target="_self">
        <img src="~/themes/@themeName/content/images/business.png">
        <span>  الاعمال </span>
    </a>

</div>
<div class="footer-orange-mobile">
    <a href="https://www.orange.jo/ar/Pages/legal.aspx" target="_self">
        قانوني
    </a>
    <a href="http://jobs.orange.com/jobs/jobsearch.do?do=country&amp;CTRY=JO&amp;lang=EN" target="_blank">
       الوظائف
    </a>
</div>