<ul class="es-root-menu">
    <li data-target="nop-menu">
        <a href="/">المتجر الإلكتروني</a>
    </li>
    <li data-target="offers-services">
        <a href="https://www.orange.jo/ar/offers/"> العروض و الخدمات</a>
    </li>
    <li data-target="my-account">
        <a href="https://www.orange.jo/ar/myaccount/pages/default.aspx"> حسابي</a>
    </li>
    <li data-target="help">
        <a href="https://www.orange.jo/ar/help/pages/default.aspx"> المساعدة</a>
    </li>
</ul>