<div class="es-q-links">
    <ul>
        <li>
            <a href="https://www.orange.jo/ar/" target="_self" class="org-primary">
               شخصي
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/small-businesses/ar/" target="_self">
                 الشركات الصغيرة
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/Business/en" target="_self">
               الاعمال
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/sites/innovation/ar" target="_self">
                الخدمات المبتكرة
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx" target="_self" class="qpay org-primary">
               الدفع / الشحن السريع
            </a>
        </li>
        <li><a id="follow-us" href="#"> تابعونا</a></li>
    </ul>
</div>