@model SliderGroupModel

@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="SliderId" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="anywhereSliderGroup-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Widgets.AnywhereSlider.Tab.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.SliderGroup.Info.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-accordingly" asp-title="@T("Widgets.AnywhereSlider.Tab.Accordingly")">@await Html.PartialAsync("_CreateOrUpdate.Accordingly.cshtml", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "anywhereSlider-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}