
<div class="onstore-container">
    <div class="bg-color-full"></div>
    <section class="st-onstore">
        <div class="onstore-slider">
            <ul>                
                <li class="promo-icon">
                    <div class="abs-hover"></div>
                    <a href="/eshop-promotions">
                      Latest Promotions  
                    </a>
                </li>
                <li class="speed-icon">
                    <div class="abs-hover-right"></div>
                    <a href="/upgrade">
                        Upgrade your speed
                    </a>
                </li>
            </ul>
        </div>
    </section>    
</div>