@model  Int32
<div class="buttons">
    <a class="button-1 order-completed-continue-button" style="color:#fff !important;" href="@Url.RouteUrl("appointmentbooking.Appointment",new { orderid = Model,isChangeAppointent=false})">@T("Plugins.Misc.AppointmentBooking.OrderCompleted.Button")</a>
</div>