
<ul class="networks">
    <li class="facebook"><a href="https://www.facebook.com/OrangeJordan" target="_blank">Facebook</a></li>
    <li class="twitter"><a href="https://twitter.com/orangejo" target="_blank">Twitter</a></li>
    <li class="instagram"><a href="https://instagram.com/orangejo" target="_blank">Instagram</a></li>
    <li class="youtube"><a href="https://www.youtube.com/user/OrangeMobjordan" target="_blank">Youtube</a></li>
    <li class="linkedin"><a href="https://linkedin.com/company/orange-jordan" target="_blank">Linkedin</a></li>
    <li class="pinterest"><a href="https://www.pinterest.com/orangejordan/" target="_blank">Pinterest</a></li>
</ul>