<div class="cut-order-activity">
    <h4>@T("Shipping.Aramex.Shipment.Activity.OrderActivity")</h4>
    <div class="activity-out-delivery">
        <p>
            @T("Shipping.Aramex.Shipment.Activity.OrderCancel")
        </p>
    </div>
    <div class="rtn-shop">
        <a class="btn btn-orange">@T("Checkout.ReturntotheShop")</a>
    </div>
</div>
