@model IList<Nop.Web.Models.Catalog.ProductOverviewModel>
@if (Model.Any())
{
    <div class="required-products-grid product-grid">
        <div class="title" id="required-any-one-from-other-products">
            <strong>@T("Products.RequiredProducts")</strong>
        </div>
        <span>@T("Products.RequiredProducts.Note")</span>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">@await Html.PartialAsync("_ProductBox_RequiredAnyOneFromOtherProduct", item)</div>
            }
        </div>
    </div>
}